// Define variables for your color scheme
// MY OWN VARIABLES

$dark-blue: #2D3142;
$gray-blue: #4F5D75;
$light-blue: #C0D6DF;
$gray: #E5E5E5;
$red: #FF220C;
$dark-red: #cc2c1d;
// For example:

$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5dcc47;
$light-gray: #F4F4F4;
