//--------------------------//
//       POSITIONNING       //
//--------------------------//
#main-content,
#project-content,
#contact-content,
#skills-content {
  margin: 2rem $margin-side 5rem $margin-side;
  padding: $padding;
  h2 {
    text-align:center;
  }
}

//--------------------------//
//       MAIN CONTENT       //
//--------------------------//
#main-content {
  margin-bottom:3rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-image: linear-gradient(180deg, rgba(163,22,33,0) 34%, rgba(244,244,244,1) 100%), url("me_new.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: top 100% right 20%;
  height:80vh;
  h1 {
    font-weight:bold;
    font-size: 3rem;
  }

}

    #main-content--title {
      margin-top: $margin-side;
      flex: wrap;
      min-width:40%;
      a {
        float:left;
        margin-top: 25px;
      }
    }

//--------------------------//
//        KEY FRAMES        //
//--------------------------//



@keyframes moovement {
  from { transform: translate(0px,0px); }
  50% { transform: translate(0px, 20px)}
  to { transform: translate(0px, 0px) }
}

//--------------------------//
//      PROJECT CONTENT     //
//--------------------------//
#project-content {
}

    #card-container {
      width:100%;
      margin: 5rem 0;
    }

//--------------------------//
//     SKILLS ELEMENTS      //
//--------------------------//
#skills-content {

}
    #card-skills-container {
      flex-wrap:wrap;
      margin-top:2rem;
      width:100%;
      display:flex;
    }
//--------------------------//
//     CONTACT ELEMENTS     //
//--------------------------//
#contact-content {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#contact-content--left {
  span {
    display:flex;
    align-items:center;
  }
  h2 {
    margin-bottom:1rem;
  }
  a {
    float:left;
    margin-top: 25px;
  }
}
#contact-content--right {
  text-align:right;
}


#footer {
  display:flex;
  justify-content:space-between;
  border-top: 1px solid $light-blue;
  margin: 2rem 8rem;
  padding: 3rem 0;
  padding: $padding;
  color: rgba($dark-blue, 0.7);
  font-size:0.9rem;
  p:last-child {
    align-self:center;
  }
}
//--------------------------//
//      OTHER ELEMENTS      //
//--------------------------//


#t-logo {
  position: relative;
  top: -11px;
  right: -7px;
  transform: scale(0.9);
}

