//--------------------------//
//       MAIN CONTENT       //
//--------------------------//
#main-content {
  margin-left: $margin-side;
  padding: $padding;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  h1 {
    font-weight:bold;
    font-size: 3rem;
  }
}

    #main-content--title {
      margin-top: $margin-side;
      flex: wrap;
      min-width:40%;
      a {
        float:left;
        margin-top: 25px;
      }
    }
    #image-positionning {
      width:100%;
      position:relative;
    }
      #shadow-image-container {
        width:70%;
        margin:0 auto;
        #shadow-image {
          display:block;
          margin: 0 auto;
          width:10rem;
          height:2rem;
          border-radius:50%;
          box-shadow: 0 0 20px 21px rgba(0, 0, 0, 0.2);
          background-color: rgba(0,0,0, 0.2);
          animation: shadow 5s infinite linear;
        }
      }

      #image-banner {
        width:70%;
        display:block;
        margin:0 auto;
        animation: moovement 5s infinite linear;
      }

//--------------------------//
//        KEY FRAMES        //
//--------------------------//
@keyframes shadow {
  from {
    box-shadow: 0 0 20px 21px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 24px 40px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 0 0 20px 21px rgba(0, 0, 0, 0.2);
  }
}


@keyframes moovement {
  from { transform: translate(0px,0px); }
  50% { transform: translate(0px, 20px)}
  to { transform: translate(0px, 0px) }
}

//--------------------------//
//      PROJECT CONTENT     //
//--------------------------//
#project-content {
  margin-left: $margin-side;
  padding: $padding;
}

    #card-container {
      width:100%;
      margin: 5rem 0;
    }

//--------------------------//
//     CONTACT ELEMENTS     //
//--------------------------//

#contact-content {
  margin: 0 0 $margin-side 5rem;
  padding: $padding;
}
//--------------------------//
//      OTHER ELEMENTS      //
//--------------------------//


#t-logo {
  position: relative;
  top: -5px;
  right: -7px;
  transform: scale(1.5);
}


.icon-down {
  width:calc(100% - 5rem);
  margin-left: $margin-side;
  padding: $padding;
  display:flex;
  justify-content:center;
  i {
    cursor:pointer;
    font-size: 3rem;
    animation: moovement 2.5s infinite linear;
  }
}

