<div id="nav-bar">
  <ul class="list-navbar">
    <li class="nav-item">
      <a href="" class="nav-link-navbar">
        <%= image_tag "logo.svg", id:"logo-navbar"%>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link-navbar">
        <i class="fas fa-eye icon-navbar"></i>
        <span class="link-text">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link-navbar">
        <i class="fas fa-code icon-navbar"></i>
        <span class="link-text">Skills</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link-navbar">
        <i class="fas fa-tools icon-navbar"></i>
        <span class="link-text">Tools</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link-navbar">
        <i class="fas fa-envelope icon-navbar"></i>
        <span class="link-text">Contact</span>
      </a>
    </li>
  </ul>
  <ul class="list-navbar">
    <li class="nav-item-social">
      <a href="https://twitter.com/rodiert17" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-twitter icon-navbar-social"></i>
        <span class="link-text">Twitter</span>
      </a>
    </li>
    <li class="nav-item-social">
      <a href="https://github.com/Thomas-rod" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-github-alt icon-navbar-social"></i>
        <span class="link-text">Github</span>
      </a>
    </li>
    <li class="nav-item-social">
      <a href="www.linkedin.com/in/thomas-rodier" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-linkedin-in icon-navbar-social"></i>
        <span class="link-text">Linkedin</span>
      </a>
    </li>
  </ul>
</div>
