<div id="nav-bar">
  <ul class="list-navbar">
    <li class="nav-item">
      <a href="" class="nav-link-navbar clickable" data-target="#main-content">
        <svg id="logo" width="60" height="60" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle id="circle-logo" cx="77" cy="77" r="77" fill="#cc2c1d"/>
          <path d="M113.309 39.7696C133.616 60.0768 133.616 93.0014 113.309 113.309C93.0014 133.616 60.0768 133.616 39.7696 113.309C19.4623 93.0014 19.4623 60.0768 39.7696 39.7696C60.0768 19.4623 93.0014 19.4623 113.309 39.7696Z" fill="#2D3142"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M79.5523 152.958L39.6179 113.024L112.642 40L153.828 81.1862C151.217 120.454 119.168 151.668 79.5523 152.958Z" fill="#2D3142" fill-opacity="0.2"/>
          <path id="letterT" d="M62 65.52L59.568 101.04C59.5253 101.68 59.2907 102 58.864 102H55.344C52.9547 102 51.248 101.531 50.224 100.592C49.2 99.6533 48.688 98.3093 48.688 96.56C48.688 95.92 48.7093 94.96 48.752 93.68C48.8373 92.4 48.944 90.9067 49.072 89.2C49.2 87.4507 49.328 85.5733 49.456 83.568C49.6267 81.52 49.7973 79.472 49.968 77.424C50.1387 75.3333 50.288 73.264 50.416 71.216C50.5867 69.168 50.736 67.2693 50.864 65.52H40.624C40.1547 65.52 39.92 65.2213 39.92 64.624L40.112 61.04C40.1547 60.4853 40.24 59.952 40.368 59.44C40.5387 58.8853 40.7947 58.3947 41.136 57.968C41.4773 57.5413 41.904 57.2 42.416 56.944C42.9707 56.688 43.632 56.56 44.4 56.56H73.008C73.264 56.56 73.4987 56.624 73.712 56.752C73.9253 56.88 74.032 57.1147 74.032 57.456L73.776 61.232C73.6907 62.512 73.328 63.5573 72.688 64.368C72.0907 65.136 70.832 65.52 68.912 65.52H62Z" fill="#cc2c1d"/>
          <path id="letterR" d="M84.92 102C82.488 102 80.76 101.531 79.736 100.592C78.7547 99.6107 78.264 98.1813 78.264 96.304C78.264 95.792 78.2853 94.9387 78.328 93.744C78.4133 92.5067 78.52 91.056 78.648 89.392C78.776 87.728 78.904 85.9147 79.032 83.952C79.2027 81.9467 79.3733 79.92 79.544 77.872C79.8853 73.5627 80.12 70.064 80.248 67.376C80.4187 64.688 80.5467 62.576 80.632 61.04C80.76 59.12 80.888 57.904 81.016 57.392C81.144 56.8373 81.4213 56.56 81.848 56.56C83.1707 56.56 84.5147 56.5387 85.88 56.496C87.288 56.4107 88.632 56.3253 89.912 56.24C91.192 56.1547 92.3867 56.0907 93.496 56.048C94.648 55.9627 95.672 55.92 96.568 55.92C99.2987 55.92 101.645 56.2613 103.608 56.944C105.571 57.6267 107.149 58.5867 108.344 59.824C109.581 61.0613 110.477 62.5547 111.032 64.304C111.629 66.0533 111.928 68.016 111.928 70.192C111.928 73.52 111.267 76.4853 109.944 79.088C108.621 81.6907 106.509 83.6747 103.608 85.04L108.984 92.72C109.965 94.1707 110.712 95.3013 111.224 96.112C111.736 96.88 111.992 97.456 111.992 97.84C111.992 98.1387 111.8 98.5653 111.416 99.12C111.075 99.632 110.541 100.165 109.816 100.72C109.133 101.232 108.28 101.68 107.256 102.064C106.275 102.448 105.165 102.64 103.928 102.64C102.563 102.64 101.368 102.192 100.344 101.296C99.3627 100.4 98.4667 99.2267 97.656 97.776C96.888 96.2827 96.2053 94.576 95.608 92.656C95.0533 90.736 94.52 88.7307 94.008 86.64C92.472 86.5547 91.2133 86.4053 90.232 86.192C90.104 88.0693 89.976 89.8613 89.848 91.568C89.72 93.2747 89.6133 94.8107 89.528 96.176C89.4427 97.4987 89.3573 98.608 89.272 99.504C89.1867 100.357 89.144 100.869 89.144 101.04C89.1013 101.381 89.016 101.637 88.888 101.808C88.76 101.936 88.504 102 88.12 102H84.92ZM95.288 65.52C94.776 65.52 94.2 65.5627 93.56 65.648C92.92 65.6907 92.2373 65.7547 91.512 65.84C91.4267 67.3333 91.32 69.1253 91.192 71.216C91.1067 73.264 90.9787 75.4613 90.808 77.808C92.3013 78.1493 93.6027 78.32 94.712 78.32C96.0347 78.32 97.1013 78.064 97.912 77.552C98.7653 77.04 99.4267 76.4213 99.896 75.696C100.365 74.928 100.664 74.1173 100.792 73.264C100.963 72.4107 101.048 71.6427 101.048 70.96C101.048 69.2107 100.621 67.8667 99.768 66.928C98.9147 65.9893 97.4213 65.52 95.288 65.52Z" fill="#cc2c1d"/>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link-navbar clickable" data-target="#project-content">
        <i class="fas fa-eye icon-navbar" id="project-nav"></i>
        <span class="link-text">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link-navbar clickable" data-target="#skills-content" >
        <i class="fas fa-code icon-navbar" id="skills-nav"></i>
        <span class="link-text">Skills</span>
      </a>
    </li>
<!--<li class="nav-item">
      <a href="" class="nav-link-navbar data-target="#tools-content"">
        <i class="fas fa-tools icon-navbar" id="tools-nav"></i>
        <span class="link-text">Tools</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a href="" class="nav-link-navbar clickable" data-target="#contact-content">
        <i class="fas fa-envelope icon-navbar" id="contact-nav"></i>
        <span class="link-text">Contact</span>
      </a>
    </li>
  </ul>
  <ul class="list-navbar">
    <li class="nav-item-social">
      <a href="https://twitter.com/rodiert17" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-twitter icon-navbar-social"></i>
        <span class="link-text">Twitter</span>
      </a>
    </li>
    <li class="nav-item-social">
      <a href="https://github.com/Thomas-rod" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-github-alt icon-navbar-social"></i>
        <span class="link-text">Github</span>
      </a>
    </li>
    <li class="nav-item-social">
      <a href="https://www.linkedin.com/in/thomas-rodier" class="nav-link-navbar social" target="_blank">
        <i class="fab fa-linkedin-in icon-navbar-social"></i>
        <span class="link-text">Linkedin</span>
      </a>
    </li>
  </ul>
</div>
