
//--------------------------//
//       CARD PROJECT       //
//--------------------------//


$border-radius: 5px;

.project-card {
  width:100%;
  margin: 5rem auto;
  box-shadow: 0 0 10px 3px rgba(0,0,0, 0.2);
  border-radius: $border-radius;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

    .project-card--left {
      min-width: 40%;
      background-color: $dark-blue;
      color: $light-blue;
      flex-wrap:wrap;
      border-radius: $border-radius 0 0 0 ;
      h3 {
        text-align:center;
        font-size:2rem;
      }
    }

    .project-card--right {
      border-radius: 0 $border-radius 0 0;
      position:relative;
      border-left: 2px solid rgba($red, 0.3);
    }

    .image_project_card {
      width:100%;
      object-fit:cover;
      border-radius: 0px $border-radius $border-radius 0px;
    }

        .project-card--right--cta {
          width:100%;
          z-index:100;
          position: absolute;
          bottom:1rem;
          display:flex;
          justify-content:center;
          align-items:center;
          li {
            display:inline;
          }
        }

        .github-project,
        .website-project {
          margin: 0 1rem;
          font-size: 1rem;
          color:rgba($light-blue, 0.6);
          box-shadow: $box-shadow;
          background-color: $dark-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .25s ease;
          i {
            font-size:1.6667rem;
            transition: transform .25s ease;
          }
          .text-decoration {
           transition: transform .25s ease;
          }
        }
        .github-project {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          &:hover {
            color: $light-blue;
            transform: scale(1.1);
            i {
              color: $red;
            }
          }
        }

        .website-project {
          height: 4rem;
          width: 8rem;
          border-radius: 40rem;
          &:hover {
            transform: scale(1.1);
            .text-decoration {
              color: $red;
            }
          }
        }

//--------------------------//
//        CARD SKILLS       //
//--------------------------//

.card-skill {
  margin:1rem 1rem 2rem 1rem;
  width:13%;
  min-width:100px;
  border-radius:15px;
  padding:1rem 0;
  text-align:center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  h6 {margin-top:0.5rem;}
}
