//--------------------------//
//          NAVBAR          //
//--------------------------//

#nav-bar {
  width:5rem;
  height:100vh;
  background-color: $dark-blue;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-right: 1.5px solid $gray-blue;
}

//--------------------------//
//        LIST-NAVBAR       //
//--------------------------//
.list-navbar {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  &:last-child {
    margin-top: auto;
  }
}

.nav-link-navbar {
  display:flex;
  align-items:center;
  height:5rem;
  &.social {
    height:3rem;
  }
  &:hover {
    .icon-navbar {
      color:$red;
    }
  }
  svg {
    display:block;
    margin: 0 0.5rem;
    transition: 0.2s all ease;
  }
}


.link-text {
  margin: 0 0.5rem;
  display:none;
}

//--------------------------//
//       OTHER ELEMENTS     //
//--------------------------//
.nav-item,
.nav-item-social {
  width:100%;
}

.icon-navbar {
  color: $light-blue;
  font-size:1.5rem;
  margin: 0 1.5rem;
  transition: color 0.2s ease;
}
.icon-navbar-social {
  color: $light-blue;
  font-size:1rem;
  margin: 0 1.5rem;
  transition: 0.2s all ease;
}

#logo-navbar {

}
//--------------------------//
//       OTHER ELEMENTS     //
//--------------------------//



